
.spacing {
    margin-top:10%;
  }

.connection-main {
    width: 100vw;
    height: 80vh;
    background-color: #ffcc00;
    display: flex;
    
    font-size: 3.0vh;
}

.left-main {
    background-color: aqua;
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-main-area {
    width: 95%;
    height: 95%;
    background-color: aliceblue;
}

.connection-main-img {
    width: 100%;
    height: 80%;
    background-color: firebrick;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.connection-left-btn {
    width: 30%;
    height: 7%;
    background-color: grey;
    color: #fff;
    font-size: 2.0vh;
    font-weight: 500;
    
    
    overflow: auto;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
    align-items: center;
}

.connection-main-left-botmom {
    width: 100%;
    height: 20%;
    background-color: salmon;
    
    display: flex;
    align-items : center;
    justify-content: space-between;

}

.big-btn {
    width: 35%;
    height: 100%;
    background-color: skyblue;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
}

.big-btn-area {
    width: 87%;
    height: 87%;
    background-color: whitesmoke;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.connection-img {
    width: 30%;
    height: 50%;
    background-image: url('/img/share-02.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: yellow;
    border-radius: 20%;
}

.right-main {
    background-color: palevioletred;
    width: 30%;
    height: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.connection-info-enter {
    width: 90%;
    height: 95%;
    background-color: green;
    
    overflow: auto;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.connection-right-btn {
    width: 60%;
    height: 5%;
    background-color: grey;
    color: #fff;
    font-size: 2.0vh;
    font-weight: 500;
    
    overflow: auto;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.connection-input {
    
    width: 70%;
    height: 3.7%;
    border: 0;
    border-radius: 3px;
    outline: none;
    font-size: 2.0vh;
}
