
.spacing {
    margin-left: 1vw; 
    margin-right: 1vw;
    }
    
    

.header {
    width: 100vw;
    height: 10vh;
    background-color: black;
    display: flex;
    font-size: clamp(5px, 3vw, 2.3vh);
    white-space: nowrap;
}

.left-info {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-info-area {
    height: 50%;
    aspect-ratio: 1 / 1; /* 정사각형 유지 */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor : pointer;
}
.wifi-logo {
    height: 100%;
    aspect-ratio: 1 / 1; /* 정사각형 유지 */
    margin-right: 1%;
    background-image: url('/img/wifi.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

}

.wifi-state {
    color: white;
}

.tpose-logo {
    height: 100%;
    aspect-ratio: 1 / 1; /* 정사각형 유지 */
    margin-right: 1%;
    background-image: url('/img/repeat.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

}


.main-logo {
    width: 60%;
    height: 100%;
    background-image: url('/img/axio_logo.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.right-info {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.widow-state {
    height: 50%;
    aspect-ratio: 1 / 1; /* 정사각형 유지 */
    color: white;
    border-radius: 20%;
    border: 1px solid rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2%;
    cursor : pointer;
    
}
