#background_img {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('/img/배경.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
   /* display: flex; */
    
    /* background-color: aqua; */
}


/* 위 라인*/
.top {
  width: 100vw;
  height: 60vh;
  background-color: blue;
  display: flex;
  justify-content: center; /* 자식 요소를 가로(수평) 기준으로 가운데 정렬시킴 */
  align-items:end ; /* 자식 요소를 세로(수직) 기준으로 가운데 정렬시킴 */
}

.logo {
  margin: 0;
  padding: 0;
  width: 15vw;
  height: 15vh;

  background-color: pink;
  background-image: url('/img/axio_logo.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}


  
/* 중간 라인 */
#middle {
  width: 100vw;
  height: 25vh;
  background-color: green;
  text-align: center;
  display: flex;
  flex-direction: column;  /* ✅ 세로 방향으로 정렬 */
  justify-content: end; /* ✅ 세로 중앙 정렬 */
}


.title {
  font-size: 2.5vw; /* 반응형 폰트 */
  color: red;
}

.content {
  display: block;  /* ✅ 블록 요소로 설정 */
  font-size: 1.5vw; /* 반응형 폰트 */
  color: white;
  font-weight: bold;
}

/* 원하는 만큼 여백 조정 */
  /* .spacing {
    margin-left: 1vw; 
    margin-right: 1vw;
  } */



/* 맨아래 라인 */
.bottom {
    width: 100vw;
    height: 15vh;
    background-color: aqua;
    display: flex;
    align-items : center;
    justify-content: space-between;
}

.version {
  width: 7%;
  height: 30%;
    font-size: clamp(5px, 3vw, 2.3vh);
  font-weight: 500;
  color: white;
  text-align: center;

  white-space: nowrap;

  margin-left: 5%;

  display : flex;
  justify-content : center;
  align-items : center;
  
  background-color: #6B4EFF;

  border-radius: 15px;
}

.serialkey {
    background-color: rgb(196, 106, 151);
    height: 30%;

    margin-right: 5%;
    
    display : flex;
    justify-content : center;
    align-items : center;
}
