p { 
    margin: 0px 0px 0px 0px;
    color: #000; 
    /* line-height: 120%;  */
    size: 100%;
    white-space: nowrap; /* 줄바꿈 방지 */
    overflow: hidden; /* 부모 영역 초과 시 숨김 */
    text-overflow: ellipsis; /* 너무 길면 '...' 표시 */
    max-width: 100%; /* 부모 요소를 넘지 않도록 제한 */
    
    font-size: 1.3vh !important;
}

.spacing {
    margin-top:10%;
  }

.overlay-text {
    position: absolute; /* SkeletonFK 위에 겹치게 배치 */
    bottom: 1%;
    right: 5%;
    color: white;
    font-size: 1%;
    background: rgba(0, 0, 0, 0.5); /* 반투명 배경 */
    padding: 2% 2%;
    border-radius: 10px;
    z-index: 10; /* 다른 요소보다 위에 표시 */
    
}

.select-model-mode {
    float: left;
}

.menu-logo2 {
    width: 1vw;
    height: 1.5vh;
    background-image: url('/img/Icon.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: auto;
    margin-bottom: auto;
    
/* 
    background-color: aqua; */
    position:static;
    

}

.menu-logo2.active {
    background-image: url('/img/Icon2.png');

}

.radio-text {
    font-size: 1.7vh;
    font-weight: 300;
}

.radio-text.active {
    font-size: 1.7vh;
    font-weight: 800;
}

.select-model-model {
    white-space: nowrap;
    display: flex;
    cursor : pointer;
}



.main {
    width: 100vw;
    height: 80vh;
    background-color: #323436;
    display: flex;
}

.three {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.three-postion {
    width: 90%;
    height: 95%;
    background-color: grey;
    
    overflow: auto;
    border-radius: 25px;
    position: relative;
}


.sensor-list {
    width: 70%;
    height: 100%;
    
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.scrollbar-widget {
    width: 100%;
    height: 95%;
    overflow: auto;
    /* background-color: blue; */
    margin-left: 5%;
    margin-right: 2.3%;
    
    display: flex;
    flex-wrap: wrap; 
    
    /* justify-content: center; */
    align-items: center;
    padding-left: 1%;
}

.scrollbar-widget::-webkit-scrollbar {
    width: 10px;
  }
.scrollbar-widget::-webkit-scrollbar-thumb {
    background-color: #2f3542;
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
}
.scrollbar-widget::-webkit-scrollbar-track {
    background-color: grey;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
}

.part-card {
    width: 22%;
    height: 35%;
    border-radius: 25px;
    /* border: 1px solid rgb(0, 0, 0); */
    box-shadow: 5px 5px 20px;
    transition: all 0.5s;
    margin: 1.2%;
    background-color: #24282B;
    overflow:hidden;
    
    cursor : pointer;
  }
.part-card:hover {
    width: 23%;
    height: 36%;
}

.part-img {
    width: 40%;
    height: 40%;
    background-image: url('/img/arm.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 5%;
    margin-left: 30% !important;
    margin-right: 30% !important;
}

.part-info {
    height: 40%;
    background-color: white;
    margin-left: 10% !important;
    margin-right: 10% !important;
    margin-top: 1% !important;
    padding: 5%;
    
    border-radius: 10px;
    
}
  
.part-id {
    float: right;
    white-space: nowrap; /* 줄바꿈 방지 */
    overflow: hidden; /* 부모 영역 초과 시 숨김 */
    text-overflow: ellipsis; /* 너무 길면 '...' 표시 */
    max-width: 100%; /* 부모 요소를 넘지 않도록 제한 */
}



